body{
    background: linear-gradient(to right, #8360c3, #2ebf91);
}
.container{
    display:flex;
    justify-content: center;
}
.title{
    display:flex;
    flex:1;
    justify-content: center;
    background: lightgrey;
    font-family: 'Brush Script MT';
    max-width: 1000px;
    border: 5px solid black;
}
.buttoncontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8em;
    margin: 3em;
    padding: 3em;
}
.scorecontainer{
    display:flex;
    justify-content: center;
    gap: 8em;
}
.scoresection, .scoremessage{
    text-align:center;
}

/* RPS Pic */
.theimage img{
    max-width: 600px;
    margin: 2em;
    border: 3px solid black;
    border-radius: 5px;
}
.rpspicsection{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* .container2{
    display:flex;
    justify-content: center;
} */
/* 
.footer{
    display:flex;
    flex:1;
    justify-content: center;
    background: lightgrey;
    font-family: 'Brush Script MT';
    max-width: 400px;
    border: 5px solid black;
    font-size:20px;
} */